.nav-links {
  display: flex;
  list-style: none;
  width: 50%;
  height: 100%;
  justify-content: space-around;
  text-align: center;
  gap: 30px;
  font-size: 30px;
}
.navbar-container {
  width: 47%;
  border-radius: 210px;
  padding: 10px;
  display: block;
  margin: auto;
  padding-top: 30px;
  background: rgba(33, 53, 85, 0.85);
  box-shadow: 8px 8px 32px 0 rgba(31, 38, 135, 0.24);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 100px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  position: fixed;
  top: 4;
  left: 0;
  transition: all 1s ease;
  right: 0;
  z-index: 1; 
}
.newz-logo-heading {
  font-weight: 900;
  text-decoration: underline;
  text-underline-offset: 25px;
  color: #213555;
  transition: all 1s ease;
  letter-spacing: 22px;
  font-family: "Bebas Neue", serif;
  font-size: 900%;
}
.links-nav a {
  text-decoration: none;
  letter-spacing: 4px;
  color: #d8c4b6;
  font-family: "Bebas Neue", serif;
  padding: 20px;
  font-size: 40px;
  transition: all 1s ease;
  text-underline-offset: 35px;
  /* display: block;
    margin: auto; */
}
.links-nav a:hover {
  color: #F5EFE7;
  text-decoration: underline;
  text-underline-offset: 15px;
}
