/*
	jsrepo 1.28.1
	Installed from https://reactbits.dev/default/
	21-1-2025
*/

.letter {
  display: inline-block;
  will-change: transform, opacity;
}

.split-parent {
  display: inline;
  overflow: hidden;
}
